.wxbox {

  .wxcontainer {

    .wxcode {
      img {
        width: 280px;
      }
    }
    .info {
      font-size: 13px;
      span {
        display: block;
      }
    }
    .signinway {
      margin-top: 20px;
      font-size: 13px;
      a {
        text-decoration: none;
        outline: none;
        color: #3b65a7;
      }
      a:hover {
        color: #0063ff!important;
      }
    }
  }
}
